$primary: #7eae00;

.container-main {
    background-image: url(../../img/img2.jpg);
    height: 100vh;
    background-size: cover;

    @media (max-width: 991.98px) {
        background-position: top right;
    }

    &-all {
        @media (max-width: 991.98px) {
            background-color: rgba($secondary, 0.8);
            padding-left: 2rem;
        }
        &-texts {
            h1 {
                font-size: 4rem;
                @media (max-width: 575.98px) {
                    font-size: 2.8rem;
                }
            }
        }
    }
}