$primary: #7eae00;

.container-main{
    background-image: url(../../img/img2.jpg);
    height: 100vh;
    background-size: cover;
    &-texts{
        h1{
            font-size: 4rem;
        }
    }
    &-button{
        .btn-primary{
            border-radius: 50rem;
            padding: 15px 25px;
        }
    }
}